body {
  margin: 0;
  padding: 0;
  font-family: 'PP Neue Grotesk Display', sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.title {
  font-family: 'PP Editorial New', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  color: #92603A;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  padding: 40px 0;
  z-index: 1000;
}

.love-letter {
  font-family: 'PP Editorial New', sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 18px;
  color: #92603A;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  padding: 82px 0;
  z-index: 1000;
}

.toggles {
  position: absolute;
  top: 120px;
  left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  z-index: 1000;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.toggle-label {
  font-family: 'PP Editorial New', sans-serif;
  font-style: italic;
  text-align: right;
  font-weight: 300;
  font-size: 16px;
  color: #92603A;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ffd574;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffd574;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.legend-button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  
  .legend-button {
    background-color: #FFE19C;
    border: none;
    color: #92603A;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'PP Neue Haas Grotesk Display', sans-serif;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .legend-popup {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .legend-container {
    background-color: #FFE19C;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 25px;
    font-family: 'PP Neue Haas Grotesk Display', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .legend-title {
    font-family: 'PP Editorial New', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    color: #7b4f2e;
    margin-bottom: 16px;
  }
  
  .legend-section {
    margin-bottom: 15px;
  }
  
  .legend-section-title {
    font-family: 'PP Editorial New', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    color: #7b4f2e;
    margin-bottom: 4px;
  }
  
  .legend-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
  }
  
  .legend-items-row {
    display: flex;
    gap: 30px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .legend-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  
  .legend-item span {
    font-size: 14px;
    color: #7b4f2e;
    text-transform: uppercase;
  }
  
  .legend-separator {
    height: 0.5px;
    background-color: #7b4f2e;
    margin-top: 2px;
    margin-bottom: 20px;
  }

.mapboxgl-popup .mapboxgl-popup-tip {
  border-top-color: #FFE19C;
}

.mapboxgl-popup-content {
  background-color: #FFE19C;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  font-family: 'PP Neue Haas Grotesk Display', sans-serif;
}

.mapboxgl-popup-content h3 {
  font-family: 'PP Editorial New', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  color: #7b4f2e;
  margin-top: 0;
  margin-bottom: 8px;
}

.mapboxgl-popup-content p {
  font-size: 14px;
  color: #7b4f2e;
  margin: 4px 0;
}